<form #serverForm="ngForm" (ngSubmit)="onSubmit(serverForm)">
  <div class="mb-3">
    <label for="serverName" class="form-label">Server Name</label>
    <input type="text" class="form-control" id="serverName" name="serverName" ngModel required>
  </div>
  <div class="mb-3">
    <select class="form-select" name="serverStatus" aria-label="server select" ngModel>
      <option disabled>Server Status</option>
      <option *ngFor="let serverStatus of serverStatuses" [ngValue]="serverStatus.value">
        {{ serverStatus.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary">Add Server</button>
</form>
