<ul>
  <ol>Add an input field which updates a property('username') via Two-Way-Binding.</ol>
  <ol>Output the username property via String Interpolation (in a paragraph below the input).</ol>
  <ol>Add a button which may only be clicked if the username is NOT an empty string.</ol>
  <ol>Upon clicking the button, the username should be reset to an empty string.</ol>
</ul>

<label for="username">Username</label>
<input type="text" name="username" id="username" [(ngModel)]="username">
<p>{{ username }}</p>
<button [disabled]="username.length === 0" (click)="resetUsername()">Reset Button</button>
