<div class="row my-2">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-body">
        <h5>{{ account.name }}</h5>
        <hr>
        <div [ngSwitch]="account.status">
          <p *ngSwitchCase="'active'">This account is <span class="text-success">{{ account.status }}</span></p>
          <p *ngSwitchCase="'inactive'">This account is <span class="text-danger">{{ account.status }}</span></p>
          <p *ngSwitchCase="'unknown'" >This account is <span class="text-warning">{{ account.status }}</span></p>
          <p *ngSwitchDefault>Error: Account Status doesn't exist</p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button class="btn btn-success" (click)="onSetTo('active')">Set to 'active'</button>
          <button class="btn btn-danger" (click)="onSetTo('inactive')">Set to 'inactive'</button>
          <button class="btn btn-warning" (click)="onSetTo('unknown')">Set to 'unknown'</button>
        </div>
      </div>
    </div>
  </div>
</div>
