<div class="row my-2">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h5>{{ account.name }}</h5>
    <hr>
    <div class="card">
      <div class="card-body">
        <p>This account is {{ account.status }}</p>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button class="btn btn-success" (click)="onSetTo('active')">Set to 'active'</button>
          <button class="btn btn-secondary" (click)="onSetTo('inactive')">Set to 'inactive'</button>
          <button class="btn btn-warning" (click)="onSetTo('unknown')">Set to 'unknown'</button>
        </div>
      </div>
    </div>
  </div>
</div>
