<!-- <div class="mb-3">
  <label for="textInput" class="form-label">Random Text</label>
  <input type="text" class="form-control" id="textInput" name="textInput"
    ngModel
    required
    [(ngModel)]="randomTextInput"
  >
  <p>{{ randomTextInput }}</p>
</div> -->
<form #serverForm="ngForm" (ngSubmit)="onSubmit(serverForm)">
  <div class="mb-3">
    <label for="serverName" class="form-label">Server Name</label>
    <input type="text" class="form-control" id="serverName" name="serverName" [(ngModel)]="serverName" required>
  </div>
  <div class="mb-3">
    <select class="form-select" name="serverStatus" aria-label="server select" ngModel>
      <option disabled>Server Status</option>
      <option *ngFor="let serverStatus of serverStatuses" [ngValue]="serverStatus.value">
        {{ serverStatus.name }}
      </option>
    </select>
  </div>
  <button
    class="btn btn-primary"
    [disabled]="serverName === ''"
    >
      Add Server
  </button>
</form>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server: {{ serverForm.value.serverName }} was created!</p>
<div *ngFor="let server of servers">
  <app-server
    [serverID]="server.serverID"
    [serverName]="server.serverName"
    [serverStatus]="server.serverStatus">
  </app-server>
</div>
<p [ngStyle]="getColor()" [ngClass]="{online: randomServerStatus === 'online'}">
  {{randomServerStatus}}
</p>
<ul>
  Cat Names!
  <li *ngFor="let cat of cats">{{ cat }}</li>
</ul>
